In [1]:
import pandas as pd   # importing the necessary libraries....
import numpy as np

In [2]:
ipl = pd.read_csv('ipl-matches.csv') # importing the data....
ipl_del = pd.read_csv('deliveries.csv')

In [3]:
print(ipl.shape)   # Exploring the data...
print(ipl_del.shape)

(950, 20)
(179078, 21)

In [4]:
ipl.head()

,ID,City,Date,Season,MatchNumber,Team1,Team2,Venue,TossWinner,TossDecision,SuperOver,WinningTeam,WonBy,Margin,method,Player_of_Match,Team1Players,Team2Players,Umpire1,Umpire2
0,1312200,Ahmedabad,2022-05-29,2022,Final,Rajasthan Royals,Gujarat Titans,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,bat,N,Gujarat Titans,Wickets,7.0,NaN,HH Pandya,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",CB Gaffaney,Nitin Menon
1,1312199,Ahmedabad,2022-05-27,2022,Qualifier 2,Royal Challengers Bangalore,Rajasthan Royals,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,field,N,Rajasthan Royals,Wickets,7.0,NaN,JC Buttler,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...",CB Gaffaney,Nitin Menon
2,1312198,Kolkata,2022-05-25,2022,Eliminator,Royal Challengers Bangalore,Lucknow Super Giants,"Eden Gardens, Kolkata",Lucknow Super Giants,field,N,Royal Challengers Bangalore,Runs,14.0,NaN,RM Patidar,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['Q de Kock', 'KL Rahul', 'M Vohra', 'DJ Hooda...",J Madanagopal,MA Gough
3,1312197,Kolkata,2022-05-24,2022,Qualifier 1,Rajasthan Royals,Gujarat Titans,"Eden Gardens, Kolkata",Gujarat Titans,field,N,Gujarat Titans,Wickets,7.0,NaN,DA Miller,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",BNJ Oxenford,VK Sharma
4,1304116,Mumbai,2022-05-22,2022,70,Sunrisers Hyderabad,Punjab Kings,"Wankhede Stadium, Mumbai",Sunrisers Hyderabad,bat,N,Punjab Kings,Wickets,5.0,NaN,Harpreet Brar,"['PK Garg', 'Abhishek Sharma', 'RA Tripathi', ...","['JM Bairstow', 'S Dhawan', 'M Shahrukh Khan',...",AK Chaudhary,NA Patwardhan

In [5]:
ipl_del.head()

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,2,2,NaN,NaN,NaN

In [6]:
ipl.isnull().sum()   # Handling missing values...

ID                   0
City                51
Date                 0
Season               0
MatchNumber          0
Team1                0
Team2                0
Venue                0
TossWinner           0
TossDecision         0
SuperOver            4
WinningTeam          4
WonBy                0
Margin              18
method             931
Player_of_Match      4
Team1Players         0
Team2Players         0
Umpire1              0
Umpire2              0
dtype: int64

In [7]:
ipl_del.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 179078 entries, 0 to 179077
Data columns (total 21 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   match_id          179078 non-null  int64
 1   inning            179078 non-null  int64
 2   batting_team      179078 non-null  object
 3   bowling_team      179078 non-null  object
 4   over              179078 non-null  int64
 5   ball              179078 non-null  int64
 6   batsman           179078 non-null  object
 7   non_striker       179078 non-null  object
 8   bowler            179078 non-null  object
 9   is_super_over     179078 non-null  int64
 10  wide_runs         179078 non-null  int64
 11  bye_runs          179078 non-null  int64
 12  legbye_runs       179078 non-null  int64
 13  noball_runs       179078 non-null  int64
 14  penalty_runs      179078 non-null  int64
 15  batsman_runs      179078 non-null  int64
 16  extra_runs        179078 non-null  int64
 17  total_runs        179078 non-null  int64
 18  player_dismissed  8834 non-null    object
 19  dismissal_kind    8834 non-null    object
 20  fielder           6448 non-null    object
dtypes: int64(13), object(8)
memory usage: 28.7+ MB

In [8]:
ipl_del['match_id'] = ipl_del['match_id'].astype('int32') # reducing unnecessary memory size...
ipl_del['inning'] = ipl_del['inning'].astype('int32')
ipl_del['over'] = ipl_del['over'].astype('float32')
ipl_del['ball'] = ipl_del['ball'].astype('float32')
ipl_del['is_super_over'] = ipl_del['is_super_over'].astype('int32')
ipl_del['wide_runs'] = ipl_del['wide_runs'].astype('int32')
ipl_del['bye_runs'] = ipl_del['bye_runs'].astype('int32')
ipl_del['legbye_runs'] = ipl_del['legbye_runs'].astype('int32')
ipl_del['noball_runs'] = ipl_del['noball_runs'].astype('int32')
ipl_del['penalty_runs'] = ipl_del['penalty_runs'].astype('int32')
ipl_del['batsman_runs'] = ipl_del['batsman_runs'].astype('int32')
ipl_del['extra_runs'] = ipl_del['extra_runs'].astype('int32')
ipl_del['total_runs'] = ipl_del['total_runs'].astype('int32')

In [9]:
ipl.drop(columns=['method'],inplace=True) # droping unnecssary column...

In [10]:
ipl_del.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 179078 entries, 0 to 179077
Data columns (total 21 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   match_id          179078 non-null  int32
 1   inning            179078 non-null  int32
 2   batting_team      179078 non-null  object
 3   bowling_team      179078 non-null  object
 4   over              179078 non-null  float32
 5   ball              179078 non-null  float32
 6   batsman           179078 non-null  object
 7   non_striker       179078 non-null  object
 8   bowler            179078 non-null  object
 9   is_super_over     179078 non-null  int32
 10  wide_runs         179078 non-null  int32
 11  bye_runs          179078 non-null  int32
 12  legbye_runs       179078 non-null  int32
 13  noball_runs       179078 non-null  int32
 14  penalty_runs      179078 non-null  int32
 15  batsman_runs      179078 non-null  int32
 16  extra_runs        179078 non-null  int32
 17  total_runs        179078 non-null  int32
 18  player_dismissed  8834 non-null    object
 19  dismissal_kind    8834 non-null    object
 20  fielder           6448 non-null    object
dtypes: float32(2), int32(11), object(8)
memory usage: 19.8+ MB

In [11]:
# Every season final winner team...
final_winner = ipl[ipl['MatchNumber']=="Final"][['Season','WinningTeam']]   
final_winner = final_winner.reset_index(drop=True)
final_winner

     Season            WinningTeam
0      2022         Gujarat Titans
1      2021    Chennai Super Kings
2   2020/21         Mumbai Indians
3      2019         Mumbai Indians
4      2018    Chennai Super Kings
5      2017         Mumbai Indians
6      2016    Sunrisers Hyderabad
7      2015         Mumbai Indians
8      2014  Kolkata Knight Riders
9      2013         Mumbai Indians
10     2012  Kolkata Knight Riders
11     2011    Chennai Super Kings
12  2009/10    Chennai Super Kings
13     2009        Deccan Chargers
14  2007/08       Rajasthan Royals

In [12]:
# how many times have  super overs been played in ipl...
super_over = ipl[ipl['SuperOver']=='Y'].shape[0]
super_over

14

In [13]:
# ipl final tosswinner team percentage to match win.....
final = ipl[(ipl['MatchNumber']=='Final')].shape[0]
percentage = ipl[(ipl['MatchNumber'] == 'Final') & (ipl['TossWinner'] == ipl['WinningTeam'])].shape[0]/final*100 
percentage

60.0

In [14]:
# In playoff matches most player of match win players...
ipl[~ipl['MatchNumber'].str.isdigit()]['Player_of_Match'].value_counts().head(10)

KA Pollard        3
F du Plessis      3
SK Raina          3
A Kumble          2
MK Pandey         2
YK Pathan         2
M Vijay           2
JJ Bumrah         2
AB de Villiers    2
SR Watson         2
Name: Player_of_Match, dtype: int64

In [15]:
# Decision taken by the toss winnning team...
ipl['TossDecision'].value_counts()

field    599
bat      351
Name: TossDecision, dtype: int64

In [16]:
(ipl['Team1'].value_counts() + ipl['Team2'].value_counts()).sort_values(ascending = False)

Mumbai Indians                 231
Royal Challengers Bangalore    226
Kolkata Knight Riders          223
Chennai Super Kings            208
Rajasthan Royals               192
Kings XI Punjab                190
Delhi Daredevils               161
Sunrisers Hyderabad            152
Deccan Chargers                 75
Delhi Capitals                  63
Pune Warriors                   46
Gujarat Lions                   30
Punjab Kings                    28
Gujarat Titans                  16
Rising Pune Supergiant          16
Lucknow Super Giants            15
Kochi Tuskers Kerala            14
Rising Pune Supergiants         14
dtype: int64

In [17]:
# cak win in kolkata...
ipl[(ipl['City'] == 'Kolkata') & (ipl['WinningTeam'] == 'Chennai Super Kings')].shape[0]

5

In [18]:
# top 10 run scorer in ipl...
ipl_del.groupby('batsman')['batsman_runs'].sum().sort_values(ascending=False).head(10)

batsman
V Kohli           5434
SK Raina          5415
RG Sharma         4914
DA Warner         4741
S Dhawan          4632
CH Gayle          4560
MS Dhoni          4477
RV Uthappa        4446
AB de Villiers    4428
G Gambhir         4223
Name: batsman_runs, dtype: int32

In [19]:
# top 10 six hited batsmans .....
six = ipl_del[ipl_del['batsman_runs'] == 6].groupby('batsman')['batsman'].count().sort_values(ascending = False).head(10)
six

batsman
CH Gayle          327
AB de Villiers    214
MS Dhoni          207
SK Raina          195
RG Sharma         194
V Kohli           191
DA Warner         181
SR Watson         177
KA Pollard        175
YK Pathan         161
Name: batsman, dtype: int64

In [20]:
# here top 10 batsman hit most baundries in last 5 overs...
last = ipl_del[ipl_del['over']>15]
last = last[(last['batsman_runs'] == 4) | (last['batsman_runs']==6)]
last.groupby('batsman')['batsman'].count().sort_values(ascending = False).head(10)

batsman
MS Dhoni          340
AB de Villiers    208
RG Sharma         208
KA Pollard        206
V Kohli           160
YK Pathan         149
KD Karthik        145
Yuvraj Singh      130
AD Russell        129
AT Rayudu         114
Name: batsman, dtype: int64

In [21]:
vk = ipl_del[ipl_del['batsman'] == 'V Kohli'] # virat every team against runs...
vk = vk.groupby('bowling_team')['batsman_runs'].sum().reset_index().sort_values(by='batsman_runs',ascending = False)
vk

               bowling_team  batsman_runs
3          Delhi Daredevils           763
0       Chennai Super Kings           749
7     Kolkata Knight Riders           675
5           Kings XI Punjab           636
8            Mumbai Indians           628
13      Sunrisers Hyderabad           509
10         Rajasthan Royals           370
1           Deccan Chargers           306
4             Gujarat Lions           283
12  Rising Pune Supergiants           188
9             Pune Warriors           128
11   Rising Pune Supergiant            83
2            Delhi Capitals            66
6      Kochi Tuskers Kerala            50

In [22]:
# rcb highest wicket taker...
wicket_taker = ipl_del[ipl_del['bowling_team'] == 'Royal Challengers Bangalore'].groupby('bowler')['player_dismissed'].count().sort_values(ascending = False).head(10)
wicket_taker

bowler
YS Chahal        102
R Vinay Kumar     83
Z Khan            56
A Kumble          49
S Aravind         48
P Kumar           40
MA Starc          39
HV Patel          37
DW Steyn          37
UT Yadav          29
Name: player_dismissed, dtype: int64